@use '../../../style/functions' as f;

.speech-bubble-container {
  margin-bottom: 0.5rem;

  section {
    &.row,
    &.col {
      align-items: flex-start;
      gap: 0 1rem;

      span {
        margin-bottom: 0.3rem;
      }
    }
  }

  .speech-bubble {
    width: fit-content;

    .text {
      background: f.chatting(others-background);
      border-radius: f.border-radius(speech-bubble);
      height: fit-content;
      width: fit-content;
      max-width: 30rem;
      padding: 1.2rem 2rem;
      font-size: f.font-size(chat);
      word-break: break-word;
      white-space: pre-wrap;
    }

    .time {
      display: inline-block;
      margin-top: 0.3rem;
      color: f.grey-scale(11);
    }

    &.mine {
      .text {
        border: none;
        background: f.chatting(mine-background);
      }

      .time {
        display: block;
        text-align: right;
        color: f.grey-scale(11);
      }
    }
  }

  &.notice-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: f.grey-scale(2);
    width: 100%;
    margin-bottom: 1rem;

    .text {
      text-align: center;
      display: inline-block;
      background: transparent;
      border: none;
      padding: 1rem 0;
      font-size: f.font-size(small);
      color: #585858;
    }

    .time {
      display: inline-block;
      text-align: center;
      margin-left: 0.5rem;
      font-size: f.font-size(tiny);
    }
  }
}
