@use '../../../style/functions' as f;
@use '../../../style/mixins' as m;

.board-container {
  .board-header {
    display: flex;
    justify-content: space-between;
  }

  .board-search {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 3rem;
    max-width: 55rem;

    *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .board-wrapper {
    border-radius: f.border-radius(large-container);
    border: 1px solid f.grey-scale(4);
    padding: 1rem 2rem;

    .content-wrapper {
      width: 100%;
      padding: 1.5rem 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid f.grey-scale(4);
      }
    }

    .no-posts {
      text-align: center;
      padding: 8rem 0;
    }
  }
}

@include m.media(mobile) {
  .board-container {
    .board-header {
      flex-direction: column;
      margin-bottom: 1rem;
      margin-top: 12rem;

      a .square-button {
        margin-bottom: 0;
      }

      .headline2 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }

    .board-search {
      margin-top: 0;
      flex-direction: column;
      gap: 0.4rem;
    }

    .board-wrapper {
      padding: 0.4rem 1rem;
    }
  }
}

@include m.media(mobile-down) {
  .board-container {
    .board-search {
      .input-container {
        padding: 0.6rem 1.4rem 0.6rem 1.2rem;

        .input-inner {
          font-size: 1.2rem;
          width: 19.3rem;
        }

        svg {
          margin: 0;
          margin-top: 0.2rem;
        }
      }
    }
  }
}
