@use '../../../style/functions' as f;
@use '../../../style/mixins' as m;

.admin-management-container {
  .name-list-container {
    border: 0;
    padding: 0;

    .tag-container {
      padding: 1.5rem;

      .tag-content {
        font-size: 1.5rem;
      }
    }
  }
}

@include m.media(mobile, mobile-down) {
  .admin-management-container {
    .name-list-container {
      margin-top: 1rem;

      .tag-container {
        padding: 1rem;

        .tag-content {
          font-size: 1.2rem;
        }
      }
    }
  }
}
