@use '../../../style/mixins' as m;
@use '../../../style/functions' as f;

.game-management-container {
  .subtitle1 {
    margin-top: 4rem;
  }

  .subtitle3 {
    margin-top: 2rem;
  }

  .name-list-container {
    margin-top: 1rem;
  }

  .game-management-wrapper {
    @include m.top-left-indents;
    width: calc(100% - #{f.indent(one-left-depth)});

    & > .name-list-container {
      @include m.top-left-indents;
      width: calc(100% - #{f.indent(one-left-depth)});
    }

    .register-edit-game-header {
      display: flex;

      .subtitle1 {
        min-width: 12rem;
      }

      button {
        position: absolute;
        flex-basis: 15%;
        max-width: 9rem;
        height: inherit;
        right: 0;
        top: -5rem;
      }
    }

    .register-edit-game {
      position: relative;
      @include m.top-left-indents;

      .game-submit {
        margin-top: 1rem;
      }

      .game-name-input,
      .game-alternative-input {
        margin-top: 1rem;
        display: flex;

        .input-container {
          input[type='text'] {
            text-align: left;

            &.input-inner {
              margin-left: 0;
            }
          }
        }

        button {
          margin-left: 1rem;
          flex-basis: 15%;
          max-width: 9rem;
          height: inherit;
        }
      }

      .game-submit {
        height: 5rem;
      }
    }
  }
}

@include m.media(tablet) {
  .game-management-container .game-management-wrapper {
    .register-edit-game .game-alternative-input {
      display: block;

      button {
        width: 100%;
        max-width: none;
        margin-left: 0;
        height: 4rem;
        margin-top: 1rem;
      }
    }
  }
}

@include m.media(mobile, mobile-down) {
  .game-management-container .game-management-wrapper {
    .register-edit-game-header {
      flex-direction: column;

      button {
        margin-top: 1rem;
        margin-left: 0;
      }
    }
  }
}
