@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;
@use '../../../style/animations';

.nickname-section-container {
  width: fit-content;
  display: flex;
  align-items: center;

  .body2 {
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: m.primary(babble-pink);

    .notice-bubble {
      display: inline-block;
      background-color: m.primary(babble-pink);
      border-radius: 0.6rem;

      width: max-content;
      height: fit-content;
      padding: 0.6rem 1.2rem;

      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0, -160%);

      animation: 0.8s cubic-bezier(0.65, 0.04, 0.87, 0.24) 1s infinite alternate
        bounce;

      :after {
        content: '';
        display: block;
        background-color: transparent;

        width: 0;
        height: 0;
        border-top: 0.8rem solid m.primary(babble-pink);
        border-right: 0.8rem solid transparent;
        border-left: 0.8rem solid transparent;
        border-bottom: 0.8rem solid none;

        position: absolute;
        transform: translate(12%, 54%);
      }

      .caption2 {
        color: m.grey-scale(white);
      }
    }
  }

  .edit {
    margin: 0 1rem 0 0.5rem;
    display: flex;
    align-items: center;

    &:disabled {
      svg {
        color: m.grey-scale(5);
        cursor: default;
      }
    }

    svg {
      color: m.grey-scale(12);
    }
  }

  .caption1 {
    color: m.grey-scale(black);
  }
}
