@use '../../../style/mixins' as m;

.game-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;

  .headline2 {
    margin: 5rem 0 3rem 0;
  }

  .search-container {
    @include m.search-container;

    &.stuck {
      .search-section {
        @include m.stuck-search-section;
      }
    }

    .search-section {
      @include m.search-section;

      .input-container {
        min-width: 40rem;
        max-width: 40rem;
      }
    }
  }

  .game-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
