@use '../../../style/mixins' as m;
@use '../../../style/variables' as v;

.game-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;

  .headline2 {
    margin: 5rem 0 3rem 0;
  }

  .search-container {
    max-width: 100%;
    padding: 1rem 0;
    position: sticky;
    top: -1px;
    background: transparent;
    z-index: 5;

    &.stuck {
      .search-section {
        border-radius: 1rem;
        box-shadow: 0 0 0.6rem 0.2rem #929090ab;
        padding: 1rem;
      }
    }

    .search-section {
      max-width: 100%;
      min-width: 40rem;
      padding: 1rem 0;
      margin-bottom: 1rem;
      display: flex;
      background-color: m.grey-scale(white);

      .input-container {
        min-width: 40rem;
        max-width: 40rem;
      }
    }
  }

  .game-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}
