@use '../../../style/functions' as f;
@use '../../../style/variables' as v;

.badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  color: f.grey-scale(10);

  &.colored {
    color: f.primary(babble-pink);
  }
}
