@use '../../../style/functions' as f;
@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;

footer {
  bottom: 0;
  background: f.grey-scale(1);
  width: 100%;
  padding: 3rem;
  font-size: 1.2rem;
  margin-top: 20rem;

  & > * {
    display: block;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

@include m.media(tablet) {
  footer {
    margin-top: 8rem;
  }
}

@include m.media(mobile-down, mobile) {
  footer {
    margin-top: 5rem;
  }
}
