@use '../../../style/functions' as f;
@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;

footer {
  color: f.grey-scale(11);
  border-top: 1px solid f.grey-scale(4);
  width: 100%;
  padding: 3rem;
  font-size: f.font-size(footer);
  margin-top: 10rem;

  & > * {
    display: block;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  .goal {
    margin-bottom: 1rem;
  }

  .company {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  .footer-logo-image {
    width: 3rem;
    display: inline-block;

    img {
      width: 100%;
    }
  }
}

@include m.media(tablet) {
  footer {
    margin-top: 8rem;
  }
}

@include m.media(mobile-down, mobile) {
  footer {
    margin-top: 5rem;
  }
}
