@use '../../../style/mixins' as m;
@use '../../../style/functions' as f;
@use '../../../style/animations';

.participants-container {
  min-width: 15rem;
  width: fit-content;
  height: calc(100% - 2rem);
  text-align: center;
  position: relative;

  .linear-layout {
    /* TODO: 데모데이용 임시 방책. 높이를 정확히 맞추는 방법이 필요. */
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }

  .avatar-container {
    text-align: left;
    padding: 0 0.5rem;

    &:hover {
      color: f.primary(babble-pink);
      cursor: pointer;
    }

    .caption2.animate {
      transform: translate(0, 0);
      animation: shake 0.2s linear both;
    }
  }

  h5 {
    padding: 0 0 2rem 0;
  }

  section {
    align-items: flex-start;
    padding: 0.5rem 0 1rem 0;

    figure {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 0.5rem;
    }
  }

  // 삭제
  .notice {
    background: white;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    height: 3rem;
    bottom: 0;

    opacity: 0;
    color: f.primary(babble-pink);
    transition: opacity 0.5s;

    &.animate {
      opacity: 1;
    }

    &.failed {
      color: f.grey-scale(10);
    }
  }
}

@include m.media(mobile, mobile-down) {
  .participants-container {
    .notice {
      height: 4.5rem;
      padding: 1rem 0;
    }
  }
}
