@use '../../../style/mixins' as m;

.participants-container {
  max-width: 20rem;
  height: 100%;
  border-right: 1px solid m.grey-scale(5);
  text-align: center;

  h5 {
    padding: 1rem 0;
  }

  section {
    align-items: flex-start;
    padding: 0.5rem 0 1rem 0;

    figure {
      margin-bottom: 0.5rem;
    }
  }
}
