@use '../../../style/mixins' as m;

.chatting-form {
  display: flex;
  width: 100%;

  .chat-area {
    resize: none;
    background-color: m.grey-scale(2);
    padding: 1.5rem;
    width: 100%;
    flex-basis: 85%;
    font-size: 1.3rem;
  }

  button {
    flex-basis: 15%;
  }
}
