@use '../../../style/functions' as f;
@use '../../../style/mixins' as m;

.chatting-form {
  display: flex;
  width: 100%;
  height: 6rem;

  .chat-area {
    resize: none;
    background-color: f.grey-scale(2);
    padding: 1.5rem;
    margin-right: 0.5rem;
    width: 100%;
    height: 100%;
    flex-basis: 85%;
    border-radius: 1rem;
    font-size: 1.3rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  button {
    flex-basis: 20%;
  }
}

@include m.media(mobile-down, mobile) {
  .chatting-form {
    button {
      min-width: fit-content;
    }

    .chat-area {
      font-size: 1.6rem;
    }
  }
}
