<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <springProfile name="prod">
    <include resource="logback/file-appender/file-info-appender.xml"/>
    <include resource="logback/file-appender/file-warn-appender.xml"/>
    <include resource="logback/file-appender/file-error-appender.xml"/>

    <logger name="gg.babble" level="INFO" additivity="false">
      <appender-ref ref="file-info-appender"/>
      <appender-ref ref="file-warn-appender"/>
      <appender-ref ref="file-error-appender"/>
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
      <appender-ref ref="file-info-appender"/>
      <appender-ref ref="file-warn-appender"/>
      <appender-ref ref="file-error-appender"/>
    </logger>

  </springProfile>

  <springProfile name="dev">
    <include resource="logback/file-appender/file-debug-appender.xml"/>
    <include resource="logback/file-appender/file-info-appender.xml"/>
    <include resource="logback/file-appender/file-warn-appender.xml"/>
    <include resource="logback/file-appender/file-error-appender.xml"/>

    <logger name="gg.babble" level="DEBUG" additivity="false">
      <appender-ref ref="file-debug-appender"/>
      <appender-ref ref="file-info-appender"/>
      <appender-ref ref="file-warn-appender"/>
      <appender-ref ref="file-error-appender"/>
    </logger>

    <logger name="org.springframework" level="INFO" additivity="false">
      <appender-ref ref="file-info-appender"/>
      <appender-ref ref="file-warn-appender"/>
      <appender-ref ref="file-error-appender"/>
    </logger>
  </springProfile>

  <springProfile name="local, test">
    <include resource="logback/console-appender/console-log-appender.xml"/>
    <include resource="logback/console-appender/console-db-appender.xml"/>

    <logger name="gg.babble" level="DEBUG" additivity="false">
      <appender-ref ref="console-log-appender"/>
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
      <appender-ref ref="console-db-sql-appender"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE" additivity="false">
      <appender-ref ref="console-db-value-appender"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="TRACE" additivity="false">
      <appender-ref ref="console-db-value-appender"/>
    </logger>
  </springProfile>
</configuration>
