@use '../../../style/variables' as v;
@use '../../../style/functions' as f;
@use '../../../style/mixins' as m;

.writing-block {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  border: 1px solid f.grey-scale(6);
  border-radius: f.border-radius(large-container);
  box-shadow: v.$light-box-shadow;

  .title {
    display: flex;
    align-items: center;
    height: 10rem;
    margin: 0 2rem;

    .input-inner {
      font-size: f.font-size(title);
      text-align: left;
    }
  }

  .editor-container {
    height: 44rem;
    width: calc(100% - 4rem);
    margin: 0 2rem;

    .ql-toolbar {
      width: 100%;
      height: 4rem;
    }

    .editor {
      height: calc(100% - 4rem);
      width: 100%;

      img {
        width: 50rem;
      }
    }
  }

  .writing-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 6rem;
    width: calc(100% - 6rem);
    margin: 0 2rem;

    .input-container {
      max-width: 20rem;

      .input-inner {
        font-size: f.font-size(sub-info);
        text-align: left;
      }
    }
  }
}

@include m.media(tablet) {
  .writing-block {
    .editor-container {
      .ql-toolbar {
        height: 6.4rem;
      }
    }
  }
}

@include m.media(mobile) {
  .writing-block {
    .editor-container {
      height: 44rem;

      .ql-toolbar {
        height: 8.8rem;
      }

      .editor {
        height: calc(100% - 8.8rem);
        width: 100%;
      }
    }
  }
}

@include m.media(mobile-down) {
  .writing-block {
    .editor-container {
      height: 44rem;

      .ql-toolbar {
        height: 14rem;
      }

      .editor {
        height: calc(100% - 14rem);
        width: 100%;
      }
    }
  }
}
