@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;
@use '../../../style/functions' as f;

.input-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 1rem 1.6rem 1rem 1.4rem;
  transition: 0.2s linear;
  border-radius: f.border-radius(modal);
  border: 2px solid f.grey-scale(5);

  input[type='text'] {
    text-align: center;
    font-size: f.font-size(medium);
  }

  input[type='text']:read-only {
    text-align: left;
    cursor: pointer;
  }

  input[type='number'] {
    cursor: pointer;
    font-size: f.font-size(medium);
  }

  input[type='search'] {
    font-size: f.font-size(large);
  }

  svg {
    cursor: pointer;
  }

  &.borderless {
    border: none;

    &:focus-within {
      border: none;
    }
  }

  &:focus-within {
    border: 2px solid f.primary(babble-pink);
  }

  .input-inner {
    width: 100%;
    margin-left: 1rem;

    &.text-search {
      font-size: 1.6rem;
    }
  }

  .keyword-list-container {
    position: absolute;
    display: none;
    transition: 0.5s linear;
    top: 5rem;
    left: 0;
    margin: 0 auto;

    width: 100%;
    height: fit-content;
    max-height: 25rem;
    border-radius: 0.6rem;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 20%);
    background-color: f.grey-scale(white);
    z-index: f.z-index(layer-front-10);

    overflow-y: auto;

    &.show {
      display: block;
    }

    @include m.custom-scrollbar;

    .keyword-button {
      width: 100%;
      text-align: left;
      height: fit-content;
      padding: 1rem 1.5rem;

      &:hover {
        background-color: f.grey-scale(2);
      }
    }

    .result-not-found {
      padding: 1rem 1.5rem;
    }
  }
}

@include m.media(mobile-down, mobile) {
  .input-container {
    .input-inner {
      font-size: f.font-size(medium-mobile);
      margin-left: 0.7rem;
    }

    input[type='search'] {
      font-size: f.font-size(medium);
    }

    svg {
      height: 18px;
    }
  }
}
