@use '../../../style/functions' as f;
@use '../../../style/mixins' as m;

.image-preview-container {
  width: 100%;

  .image-preview-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    max-width: 80rem;

    .preview {
      border: 1px solid f.grey-scale(5);
      border-radius: f.border-radius(image-preview);
      overflow: hidden;
      margin-right: 1.5rem;
      width: 100%;
      display: flex;

      &:first-child {
        width: 28rem;
        aspect-ratio: auto 4/3;
      }

      &:nth-child(2) {
        width: 22rem;
        aspect-ratio: auto 4/3;
      }

      &:last-child {
        width: 18rem;
        aspect-ratio: auto 4/3;
        margin-right: 0;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}

@include m.media(tablet) {
  .image-preview-container {
    .image-preview-wrapper {
      flex-direction: column;
      align-items: start;

      .preview {
        margin-top: 1rem;
        margin-right: 0;
      }
    }
  }
}
