@use '../../../style/functions' as f;

.image-preview-container {
  width: 100%;

  .image-preview-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 1rem;
    max-width: 80rem;

    .preview {
      border: 1px solid f.grey-scale(5);
      border-radius: f.border-radius(image-preview);
      overflow: hidden;
      margin-right: 1.5rem;
      width: 100%;
      display: flex;

      &:first-child {
        min-width: 28rem;
        min-height: 21rem;
      }

      &:nth-child(2) {
        min-width: 22rem;
        min-height: 16.5rem;
      }

      &:last-child {
        min-width: 18rem;
        min-height: 13.5rem;
        margin-right: 0;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
