@use '../../../style/functions' as f;
@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;
@use '../../../style/animations';

.modal-container {
  position: fixed;
  z-index: f.z-index(layer-modal-dimmer);

  &.default {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: f.grey-scale(black-opacity-light);

    .linear-layout {
      justify-content: center;
      z-index: f.z-index(layer-modal-default);

      animation: bounceScaleUp 150ms cubic-bezier(0.15, 0.91, 0.15, 0.9);

      .default-container {
        position: relative;
        width: 48rem;
        height: 24rem;
        background-color: f.grey-scale(white);
        border-radius: f.border-radius(modal);
        padding: 3rem;
        justify-content: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        box-shadow: v.$box-shadow;
      }
    }
  }

  &.chatting {
    width: 60rem;
    height: 60rem;
    right: 2rem;
    bottom: 0.2rem;

    background-color: f.grey-scale(white);
    border: 1px solid f.grey-scale(8);
    border-radius: f.border-radius(modal);
    box-shadow: v.$box-shadow;
    z-index: f.z-index(layer-modal-chatting);
    overflow: hidden;
    animation: scaleUp 200ms cubic-bezier(0.74, 0.12, 0.86, 0.21),
      blurUp 110ms ease-in;

    & > section {
      width: 100%;
      height: 100%;
    }
  }

  &.minimized {
    display: none;
  }
}

.modal-minimized-container {
  width: 30rem;
  height: 4.5rem;
  position: fixed;
  right: 2rem;
  bottom: -0.5rem;
  cursor: pointer;
  z-index: f.z-index(layer-modal-chatting);

  background: linear-gradient(
    60deg,
    f.primary(babble-pink-1) 0%,
    f.primary(babble-pink-light) 100%
  );

  background-color: f.primary(babble-pink-1);
  border-radius: f.border-radius(modal-minimize);
  color: f.grey-scale(white);
  box-shadow: v.$button-box-shadow;

  &:hover {
    transform: translateY(-0.5rem);
    transition: all 0.2s ease-in;
  }

  .modal-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
}

@include m.media(mobile-down, mobile) {
  .modal-container {
    &.chatting {
      margin: 0 auto;
      width: 100%;
      height: 93%;
      bottom: 0px;
      right: 0px;
      background: #fff;
      border: 0;
      border-radius: 0.8rem 0.8rem 0 0;
      box-shadow: 0 0.08rem 0.5rem rgb(0 0 0 / 53%);
      z-index: f.z-index(layer-modal-chatting);
      animation: downToUp 100ms cubic-bezier(0, 0.94, 0.45, 0.99);
    }

    &.default {
      .linear-layout {
        position: absolute;
        width: 100%;
        bottom: 0;
        justify-content: flex-end;
        animation: downToUp 200ms cubic-bezier(0.15, 0.91, 0.15, 0.9);

        .default-container {
          width: 100%;
          height: 24rem;
          border-radius: 0.8rem 0.8rem 0 0;
          max-height: 30rem;

          .nickname-container {
            width: 100%;
            max-width: 40rem;

            .control-inputs {
              width: 100%;
            }

            .control-buttons {
              @include m.mobile-cancel-confirm;
            }
          }
        }
      }
    }
  }

  .modal-minimized-container {
    width: 6rem;
    height: 6rem;
    bottom: 4rem;
    right: 1.5rem;
    border-radius: 50%;
    background-image: url('https://babble.gg/img/logos/white-babble-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;

    .close,
    .maximize {
      display: none;
    }
  }
}

[data-theme='dark-mode'] {
  .modal-container section,
  .modal-container article {
    background: var(--foundation);
  }

  .modal-container span {
    background: inherit;
  }

  .modal-container.default .linear-layout {
    background: transparent;
  }
}
