@use '../../../style/functions' as f;
@use '../../../style/mixins' as m;

.error-container,
.confirm-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .subtitle2 {
    color: f.primary(babble-pink);
  }

  .linear-layout {
    height: fit-content;

    button {
      margin: 0.5rem;
    }
  }
}

@include m.media(mobile-down, mobile) {
  .modal-container {
    &.default {
      .error-container,
      .confirm-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .linear-layout {
          width: 100%;
          position: relative;
          justify-content: center;
          display: flex;

          @include m.mobile-cancel-confirm;
        }
      }
    }
  }
}
