@use '../../../style/mixins' as m;
@use '../../../style/functions' as f;

.error-container,
.alert-container,
.confirm-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .subtitle2 {
    color: f.primary(babble-pink);
  }

  .linear-layout {
    height: fit-content;

    button {
      margin: 0.5rem;
    }
  }
}

.submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .control-bar {
    position: absolute;
    cursor: pointer;
    top: 1.5rem;
    right: 1.5rem;
  }

  .control-inputs {
    text-align: center;
    margin-bottom: 2rem;

    .subtitle3 {
      margin-bottom: 1.5rem;
    }

    .form {
      margin: 1rem 0;
      display: inline-block;
      font-size: f.font-size(tiny);
      max-width: fit-content;

      &.error {
        color: f.alert(fail);
      }

      &.confirm {
        color: f.alert(confirm);
      }
    }
  }

  .control-buttons {
    display: flex;

    & > button:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@include m.media(mobile-down, mobile) {
  .modal-container {
    &.default {
      .error-container,
      .alert-container,
      .confirm-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .linear-layout {
          width: 100%;
          position: relative;
          justify-content: center;
          display: flex;

          @include m.mobile-cancel-confirm;
        }
      }

      .submit-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .control-buttons {
          display: flex;
          width: 100%;
          justify-content: center;

          .round-button {
            display: flex;
            width: fit-content;
            max-width: fit-content;
            min-width: fit-content;
          }
        }
      }
    }
  }
}
