@use '../../../style/functions' as f;

.info-with-icon-container {
  display: flex;
  align-items: center;
  user-select: none;

  *:nth-child(2) {
    margin-right: 0.8rem;
  }

  &.grey {
    color: f.grey-scale(10);
  }

  &.babble-pink {
    color: f.primary(babble-pink);
  }

  &.red {
    color: f.primary(babble-pink-3);
  }

  .caption2 {
    margin-left: 0.2rem;
  }
}
