@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;

.tag-list-container {
  &.default {
    .linear-layout {
      padding: 0 0.5rem;
      flex-wrap: wrap;
      gap: 1rem 0;
    }
  }

  .tag-container {
    margin-right: 1rem;
  }
}
