@use '../../../style/functions' as f;
@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;

.board-container {
  .board-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .writing-section {
    .input-container.borderless {
      padding-left: 0;
    }

    .writing-header {
      display: flex;
      justify-content: space-between;

      .subtitle1 {
        display: inline-block;
      }

      .category {
        max-width: 30rem;
        width: 30rem;

        .input-container {
          width: 100%;
          box-shadow: v.$light-box-shadow;
        }
      }
    }

    .writing-form {
      margin-top: 2rem;

      .square-button {
        height: 5rem;
        margin-top: 2rem;
      }
    }
  }
}

@include m.media(mobile) {
  .board-container {
    .board-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.6rem;

      .headline2 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }

    .writing-section {
      .writing-header {
        flex-direction: column;

        .subtitle1 {
          margin-top: -2rem;
          font-size: 2.4rem;
        }

        .category {
          width: 100%;

          .input-container {
            margin-top: 1rem;
            margin-right: 0;
            max-width: 26rem;
          }
        }
      }
    }
  }
}

@include m.media(mobile-down) {
  .board-container {
    .board-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.6rem;
    }

    .writing-section {
      .writing-header {
        flex-direction: column;

        .input-container {
          margin-top: 1rem;
          max-width: 26rem;
        }
      }
    }
  }
}
