@use '../../../style/mixins' as m;
@use '../../../style/functions' as f;

.navigation-container {
  padding: 2rem 0;
  border-bottom: 1px solid f.grey-scale(4);

  .page-layout a {
    width: fit-content;
  }
}

@include m.media(mobile-down, mobile) {
  .navigation-container {
    padding: 1rem 0;

    .page-layout {
      align-items: center;

      a {
        svg {
          width: 8rem;
        }
      }
    }
  }
}
