@use '../../../style/mixins' as m;
@use '../../../style/functions' as f;

.navigation-container {
  padding: 2rem 0;
  border-bottom: 1px solid f.grey-scale(4);

  .page-layout {
    display: flex;
    justify-content: space-between;

    a {
      display: flex;
      align-items: flex-end;
      width: fit-content;
      font-weight: 500;

      :hover {
        color: f.primary(babble-pink);
      }

      &:not(a:last-child) {
        margin-right: 3rem;
      }
    }

    .nav-menu {
      display: flex;
      color: f.grey-scale(black);
      position: relative;
    }
  }
}

@include m.media(mobile) {
  .navigation-container {
    padding: 1rem 0;

    .page-layout {
      align-items: center;

      a {
        svg {
          width: 8rem;
        }
      }
    }
  }
}

@include m.media(mobile-down) {
  .navigation-container {
    padding: 0.6rem 0;

    .page-layout {
      display: flex;
      justify-content: center;
      align-items: center;

      a:not(a:last-child) {
        margin-right: 2rem;
      }

      .nav-menu {
        a {
          display: block;

          .body1 {
            width: 100%;
            font-size: 1.4rem;
            text-align: center;
          }
        }
      }
    }
  }
}
