@use '../../../style/variables' as v;
@use '../../../style/functions' as f;

.room-wrapper {
  position: relative;

  .room-container {
    cursor: pointer;
    padding: 1.2rem 2.6rem;
    background: f.grey-scale(white);
    border: 1px solid f.grey-scale(1);
    box-shadow: v.$room-box-shadow;
    border-radius: 1rem;
    transition: ease-in 0.1s;
    z-index: f.z-index(layer-middle);

    &:hover {
      transform: scale(1.01);
    }

    &.disabled {
      background: linear-gradient(
        135deg,
        rgba(0, 0, 0, 10%) 25%,
        rgba(255, 255, 255, 100%) 0,
        rgba(255, 255, 255, 100%) 50%,
        rgba(0, 0, 0, 10%) 0,
        rgba(0, 0, 0, 10%) 75%,
        rgba(255, 255, 255, 100%) 0
      );
      background-size: 10px 10px;
      user-select: none;

      .information {
        filter: opacity(0.5);
      }
    }

    .information {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .about {
        display: flex;
        justify-content: center;
        align-items: center;

        .room-number {
          margin-right: 2rem;
          color: f.grey-scale(11);
        }

        .avatar {
          margin-right: 1.5rem;

          .body2 {
            width: 10rem;
            word-break: break-all;
          }
        }
      }

      .headcount-container {
        min-width: fit-content;
        color: f.grey-scale(11);
      }

      strong {
        color: f.primary(babble-pink);
        font-weight: 500;
      }
    }

    &:active {
      transform: scale(0.99);
      transition: transform 10ms ease-in;
    }
  }

  .room-shade.disabled {
    position: absolute;
    border-radius: 1rem;
    display: block;
    backdrop-filter: grayscale(1) brightness(0.97);
    width: 100%;
    height: 100%;
    z-index: f.z-index(layer-front-1);
  }
}
