@use '../../../style/variables' as v;
@use '../../../style/functions' as f;
@use '../../../style/mixins' as m;

.main-image-container {
  width: 100%;
  height: 32rem;
  position: relative;
  user-select: none;
  z-index: f.z-index(layer-back-1);

  .gradient {
    position: absolute;
    z-index: f.z-index(layer-front-1);
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.7) 70%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .main-image {
    z-index: f.z-index(layer-middle);
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
  }
}

@include m.media(mobile-down, mobile) {
  .main-image-container {
    height: 20rem;

    .gradient {
      height: calc(100% + 2px);
    }
  }
}
