@keyframes bounce {
  from {
    transform: translate(5%, -120%);
  }
  to {
    transform: translate(5%, -80%);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  85% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blurUp {
  0% {
    filter: blur(8px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes minimize {
  0% {
    width: 60rem;
    height: 60rem;
    background: white;
  }
  100% {
    width: 22rem;
    height: 4rem;
  }
}

@keyframes maximize {
  0% {
    width: 22rem;
    height: 4rem;
  }
  100% {
    width: 60rem;
    height: 60rem;
  }
}
