@keyframes bounce {
  from {
    transform: translate(5%, -120%);
  }
  to {
    transform: translate(5%, -80%);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
