@use './mixins' as m;

@keyframes bounce {
  from {
    transform: translate(0, -160%);
  }
  to {
    transform: translate(0, -120%);
  }
}

@keyframes jump {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -50%);
  }

  to {
    transform: translate(0, 0);
  }
}

@keyframes vibe {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}

@keyframes little-vibe {
  20%,
  80% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }

  50% {
    transform: translate3d(-2px, 0, 0);
  }
}

@keyframes shake {
  20%,
  80% {
    transform: rotate(5deg);
  }

  40%,
  60% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-5deg);
  }
}

@keyframes fill {
  0% {
    fill: transparent;
  }

  100% {
    fill: m.primary(babble-pink);
  }
}

@keyframes tilt {
  0% {
    transform: skewY(0);
  }

  20% {
    transform: rotateZ(-2deg) skewX(15deg) skewY(-0.5deg) scaleX(0.97);
  }

  40% {
    transform: rotateZ(2deg) skewX(-8deg) skewY(1deg) scaleX(1.01);
  }

  100% {
    transform: rotateZ(0) skewX(0deg) skewY(0) scaleX(1);
  }
}

@keyframes bounceScaleUp {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.1);
  }
  85% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blurUp {
  0% {
    filter: blur(8px);
  }
  50% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0);
  }
}
