@use './functions' as f;
@import './variables';

@mixin search-container {
  max-width: 100%;
  padding: 1rem 0;
  position: sticky;
  top: -1px;
  background: transparent;
  z-index: 5;
}

@mixin search-section {
  max-width: 100%;
  min-width: 40rem;
  padding: 1rem 0;
  margin-bottom: 1rem;
  display: flex;
  background-color: f.grey-scale(white);
}

@mixin stuck-search-section {
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem 0.1rem f.shadow(search-bar-shadow);
  padding: 1rem;
  width: 95%;
  margin: 0 auto;
}
