@use './functions' as f;
@import './variables';

@mixin search-container {
  max-width: 100%;
  padding: 1rem 0;
  margin-bottom: 1rem;
  position: sticky;
  top: -1px;
  background: transparent;
  z-index: f.z-index(layer-front-10);
}

@mixin search-section {
  max-width: 100%;
  min-width: 40rem;
  padding: 0;
  margin-bottom: 1rem;
  display: flex;
  background-color: f.grey-scale(white);
}

@mixin stuck-search-section {
  border-radius: 1rem;
  box-shadow: 0 0 0.6rem 0.1rem f.shadow(search-bar-shadow);
  padding: 1rem;
  width: 95%;
  margin: 0 auto;
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 1.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: f.grey-scale(3);
    border-radius: f.border-radius(large-container);
    background-clip: padding-box;
    border: 0.3rem solid transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: f.grey-scale(8);
    border-radius: f.border-radius(large-container);
    background-clip: padding-box;
    border: 0.3rem solid transparent;
  }

  &::-webkit-scrollbar-thumb:active {
    background-color: f.grey-scale(10);
  }
}

@mixin mobile-cancel-confirm {
  button:not(:last-child) {
    margin-right: 1.8rem;
  }

  .round-button {
    width: fit-content;
    min-width: 0;
    max-width: inherit;
    padding: 1rem 2.2rem;

    &.line {
      border: none;
      background-color: transparent;
    }
  }
}

@mixin media($keys...) {
  @each $key in $keys {
    @media (max-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
}

@mixin top-left-indents {
  margin-top: 1rem;
  margin-left: 2rem;
}
