$box-shadow: 0 0.08rem 0.5rem rgba(0, 0, 0, 0.18);
$light-box-shadow: 0 0.15rem 0.8rem rgba(0, 0, 0, 0.12);
$dark-box-shadow: 0 0.08rem 0.5rem 0.05rem rgba(0, 0, 0, 0.25);
$room-box-shadow: 0 0 0.6rem rgba(134, 134, 134, 0.35);
$button-box-shadow: 1px 3px 10px rgba(255, 56, 82, 0.35);
$dot-box-shadow: 0 0 0 1px rgb(118, 123, 131);
$management-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

$border-radius: (
  tag: 50rem,
  speech-bubble: 0.5rem,
  modal: 0.8rem,
  modal-minimize: 0.8rem 0.8rem 0 0,
  dots-container: 1.5rem,
  dot: 9999px,
  large-container: 1rem,
  image-preview: 1rem,
);

$font-size: (
  title: 2.6rem,
  large: 1.8rem,
  medium: 1.6rem,
  medium-mobile: 1.5rem,
  sub-info: 1.4rem,
  chat: 1.3rem,
  small: 1.2rem,
  tiny: 1.1rem,
  footer: 1rem,
);

$indent: (
  one-left-depth: 2rem,
);

$button-padding: (
  tiny: 0.6rem 1.8rem,
  small: 0.8rem 2.2rem,
  medium: 1.4rem 2.6rem,
  large: 1.8rem 4rem,
);

$avatar-size: (
  small: 3.5rem,
  medium: 7rem,
  large: 12rem,
);

$grey-scale: (
  white: #fff,
  0: rgb(250, 250, 250),
  1: rgb(245, 245, 246),
  2: rgb(238, 238, 238),
  3: rgb(227, 230, 233),
  4: rgb(216, 224, 231),
  5: rgb(204, 213, 221),
  6: rgb(188, 199, 211),
  7: rgb(167, 178, 190),
  8: rgb(156, 160, 165),
  9: rgb(138, 142, 148),
  10: rgb(118, 123, 131),
  11: rgb(91, 95, 102),
  12: rgb(63, 66, 71),
  black: #222,
  black-opacity: rgba(0, 0, 0, 0.55),
  black-opacity-light: rgba(0, 0, 0, 0.15),
);

$primary: (
  babble-pink-light: #ff3852,
  babble-pink: #ff005c,
  babble-pink-1: #eb0d5e,
  babble-pink-2: #c50048,
  babble-pink-3: #b60043,
);

$alert: (
  confirm: #009f66,
  fail: #ff1a00,
);

$shadow: (
  primary-shadow-35: rgba(255, 56, 82, 0.35),
  gray-shadow-1: rgba(63, 66, 71, 0.5),
  search-bar-shadow: #d6d6d6ab,
);

$z-index: (
  layer-back-1: -1,
  layer-middle: 0,
  layer-front-1: 1,
  layer-front-2: 2,
  layer-front-5: 5,
  layer-front-9: 9,
  layer-front-10: 10,
  layer-slider: 100,
  // exists on modal
  layer-modal-header: 9,
  layer-modal-show-tag-button: 10,
  layer-modal-chatting: 9997,
  layer-modal-dimmer: 9998,
  layer-modal-default: 9999,
);

$chatting: (
  others-background: rgb(227, 227, 227),
  mine-background: rgb(255, 229, 229),
);

$breakpoints: (
  mobile-down: 280px,
  mobile: 576px,
  tablet: 768px,
  desktop: 1024px,
  big-desktop: 1200px,
);
