$box-shadow: 0 0.08rem 0.5rem rgba(0, 0, 0, 0.18);
$room-box-shadow: 0 0 0.6rem rgba(134, 134, 134, 0.35);
$button-box-shadow: 1px 3px 10px rgba(255, 56, 82, 0.35);
$dot-box-shadow: 0 0 0 1px rgb(118, 123, 131);

$border-radius: (
  tag: 50rem,
  speech-bubble: 0.5rem,
  modal: 0.8rem,
  modal-minimize: 0.8rem 0.8rem 0 0,
  dots-container: 1.5rem,
  dot: 9999px,
);

$button-padding: (
  tiny: 0.6rem 1.8rem,
  small: 0.8rem 2.2rem,
  medium: 1.4rem 2.6rem,
  large: 1.8rem 4rem,
);

$avatar-size: (
  small: 3.5rem,
  medium: 7rem,
  large: 12rem,
);

$grey-scale: (
  white: #fff,
  0: rgb(250, 250, 250),
  1: rgb(245, 245, 246),
  2: rgb(238, 238, 238),
  3: rgb(227, 230, 233),
  4: rgb(216, 224, 231),
  5: rgb(204, 213, 221),
  6: rgb(188, 199, 211),
  7: rgb(167, 178, 190),
  8: rgb(156, 160, 165),
  9: rgb(138, 142, 148),
  10: rgb(118, 123, 131),
  11: rgb(91, 95, 102),
  12: rgb(63, 66, 71),
  black: #222,
  black-opacity: rgba(0, 0, 0, 0.55),
  black-opacity-light: rgba(0, 0, 0, 0.15),
);

$primary: (
  babble-pink-light: #ff3852,
  babble-pink: #ff005c,
  babble-pink-1: #eb0d5e,
  babble-pink-2: #c50048,
  babble-pink-3: #b60043,
);

$shadow: (
  primary-shadow-35: rgba(255, 56, 82, 0.35),
  gray-shadow-1: rgba(63, 66, 71, 0.5),
);

$z-index: (
  layer-back-1: -1,
  layer-middle: 0,
  layer-front-1: 1,
  layer-modal-dimmer: 9998,
  layer-modal-chatting: 9997,
  layer-modal-default: 9999,
);
