$box-shadow: 0 0.08rem 0.5rem rgb(0 0 0 / 18%);
$border-radius: 1rem;

$font-size: (
  small: 1.25rem,
  medium: 1.5rem,
  large: 1.75rem,
);

$avatar-size: (
  small: 5rem,
  medium: 7rem,
  large: 12rem,
);

$grey-scale: (
  white: #fff,
  0: rgb(250, 250, 250),
  1: rgb(240, 240, 240),
  2: rgb(239, 240, 241),
  3: rgb(227, 230, 233),
  4: rgb(216, 224, 231),
  5: rgb(204, 213, 221),
  6: rgb(188, 199, 211),
  7: rgb(167, 178, 190),
  8: rgb(156, 160, 165),
  9: rgb(138, 142, 148),
  10: rgb(118, 123, 131),
  11: rgb(91, 95, 102),
  12: rgb(63, 66, 71),
  black: #222,
);

$primary: (
  babble-pink: #ff005c,
);
