* {
  font-family: Inter, 'Spoqa Han Sans Neo', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  cursor: default;
  font-size: 62.5%;
  margin: 0;
  padding: 0;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

*:not(img)::selection {
  color: white;
  background: #ff005c;
}

input,
img {
  user-select: none;
}

body,
#root {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;

  &:visited {
    color: inherit;
  }
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle;
  background: inherit;
}

:root {
  // --foundation: #121212;
  --foundation: #18181b;
  --distinct: #fff;
  --soft-black: #222;
  --dawn-black: #333;
  --light-grey: #c6c6c6;
  --main: #ff005c;
}

[data-theme='dark-mode'] {
  html,
  body,
  #root,
  footer,
  article,
  button,
  input {
    background: var(--foundation);
    color: var(--distinct);
  }

  span,
  .game-card-container figcaption .body2 {
    color: var(--distinct);
  }

  .logo-container svg path {
    fill: var(--distinct);

    &.speech-bubble {
      fill: var(--main);
    }
  }

  button.line {
    background: var(--foundation);

    p.body2 {
      background: none;
    }

    &:hover {
      background: rgba(255, 56, 82, 0.35);

      span.caption1,
      p.body2 {
        background: none;
      }
    }
  }

  .game-list-container .search-container.stuck .search-section {
    box-shadow: none;
    border: 1px solid rgb(63, 66, 71);
  }

  .navigation-container {
    border-bottom: 1px solid var(--foundation);
  }

  .game-list-container .search-container .search-section,
  .room-list-container .search-container .search-section {
    background: var(--foundation);
  }

  .view-post-container .post-wrapper .post-body .like-button .square-button {
    background-color: transparent;
  }

  .main-image-container {
    z-index: 1;

    .gradient {
      background: linear-gradient(
        to bottom,
        rgba(24, 24, 27, 0) 0%,
        rgba(24, 24, 27, 0.7) 70%,
        rgba(24, 24, 27, 1) 100%
      );

      // z-index: 0;
    }
  }

  .room-wrapper {
    .room-container {
      background: var(--dawn-black);
      border: 1px solid #5b5f66;

      &.disabled {
        background: #222;

        .information {
          filter: brightness(0.5);
        }
      }
    }
  }

  .chatting-form .chat-area {
    background-color: #2b2b2b;
    color: var(--distinct);
  }

  .modal-container.default .linear-layout .default-container {
    background: var(--foundation);
    border: 1px solid rgb(63, 66, 71);
  }

  .nickname-section-container {
    .edit svg {
      color: rgb(204, 213, 221);

      &:disabled {
        color: rgb(63, 66, 71);
      }
    }

    .caption1 {
      color: #fff;
    }
  }

  h1.headline1,
  h2.headline2,
  h3.subtitle1,
  h4.subtitle2,
  h5.subtitle3,
  .body1,
  .body2,
  .caption1,
  .caption2 {
    color: white;
    background: inherit;
  }

  .input-container .keyword-list-container .keyword-button {
    &:hover {
      color: var(--foundation);
    }
  }

  .show {
    &::-webkit-scrollbar-track {
      background-color: rgb(63, 66, 71);
      border: 0.3rem solid transparent;

      border-radius: 0 0.4rem 0.4rem 0;
      background-clip: border-box;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(156, 160, 165);
      border: 0.3rem solid transparent;
    }

    &::-webkit-scrollbar-thumb:active {
      background-color: rgb(245, 245, 246);
    }

    & {
      border: 1px solid rgb(63, 66, 71);
    }
  }

  .modal-chatting-room .tags.show {
    border: 0;
  }

  .modal-chatting-room .tags .tag-list-container {
    background: var(--foundation);
  }

  .information .tag-list-container .tag-container {
    border: 1px solid white;
  }

  .speech-bubble-container {
    .speech-bubble {
      .text {
        background: rgb(63, 66, 71);
      }

      .time {
        color: rgb(204, 213, 221);
      }

      &.mine {
        .text {
          background: #ff005c;
        }

        .time {
          color: rgb(204, 213, 221);
        }
      }

      &.notice {
        .text {
          background: transparent;
        }
      }
    }

    &.notice-container {
      background-color: #2b2b2b;

      .text {
        color: rgb(238, 238, 238);
      }
    }
  }

  .modal-container.chatting {
    border: 1px solid rgb(63, 66, 71);
  }

  .modal-chatting-room .modal-header-container {
    background: var(--foundation);
    color: #fff;
    border-bottom: 1px solid rgb(63, 66, 71);

    .show-tags {
      background: var(--foundation);
      color: #fff;

      border-left: 0.1rem solid rgb(63, 66, 71);
      border-bottom: 0.1rem solid rgb(63, 66, 71);
      border-right: 0.1rem solid rgb(63, 66, 71);
    }
  }

  .modal-chatting-room .modal-body-container .modal-aside-container {
    border-right: 1px solid rgb(63, 66, 71);
  }

  .participants-container .notice {
    background: var(--foundation);
  }

  footer {
    border-top: 1px solid rgb(63, 66, 71);
  }

  .room-wrapper .room-container .information strong {
    color: white;
  }
  // .main-image-container {
  //   z-index: 1;
  // }
}
