@use '../../../style/functions' as f;
@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;

.management-container {
  margin: 0 auto;
  max-width: 102.66664rem;
  padding: 3rem;

  & > section {
    margin-top: 3rem;
    box-shadow: v.$management-box-shadow;
    border-radius: f.border-radius(large-container);
    padding: 4rem 3rem 7rem 3rem;
  }

  h2.headline2 {
    border-bottom: 1px solid f.grey-scale(6);
    margin-bottom: 3rem;
    padding-bottom: 1rem;
  }
}

@include m.media(mobile, mobile-down) {
  .management-container {
    padding: 0.5rem;

    section,
    div,
    form {
      margin-left: 0;
      width: 100%;

      &.no-data {
        padding: 1.2rem 0;
      }
    }

    h1.headline1 {
      text-align: center;
      margin-top: 1rem;
      font-size: 2.5rem;
    }

    h2.headline2 {
      font-size: 2.4rem;
      background: f.grey-scale(2);
      padding: 0.4rem 0.2rem;
      border-bottom: 1px solid f.grey-scale(6);
      margin-bottom: 0;
    }

    h3.subtitle1 {
      font-size: 2rem;
      margin-top: 2rem;
    }

    .subtitle3 {
      font-size: 1.7rem;
    }

    .admin-management-container,
    .game-management-container,
    .tag-management-container {
      box-shadow: none;
      border: none;
      padding: 0;
    }

    .admin-management-container .name-list-container,
    .game-management-container .game-management-wrapper,
    .game-management-container .game-management-wrapper > .name-list-container,
    .game-management-container .game-management-wrapper .register-edit-game,
    .tag-management-container .tag-management-wrapper,
    .tag-management-container .tag-management-wrapper .register-tag {
      margin-left: 0;
      width: 100%;
    }

    .game-management-container .name-list-container {
      width: 100%;
      margin: 0.8rem 0;
    }
  }
}
