@use '../../../style/functions' as f;
@use '../../../style/variables' as v;

.view-post-container {
  .board-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .post-wrapper {
    border-radius: f.border-radius(large-container);
    border: 1px solid f.grey-scale(4);
    padding: 2rem;

    .post-header {
      padding: 0 1rem 1rem 1rem;
      border-bottom: 1px solid f.grey-scale(4);

      .header-upper {
        display: flex;
        justify-content: space-between;

        .subtitle2 {
          display: flex;
          padding: 1rem 0;
          width: 90%;
        }

        .like-and-view-container {
          span:first-child {
            margin-right: 0.8rem;
          }
        }
      }

      .header-lower {
        display: flex;
      }
    }

    .post-body {
      padding: 2rem 1rem;
      font-size: f.font-size(medium);

      .like-button {
        display: flex;
        padding: 6rem 0 0 0;
        justify-content: center;

        .square-button {
          display: flex;
          justify-content: center;
          padding: 1.2rem 2.2rem;
          align-items: center;
          font-size: f.font-size(medium);
          box-shadow: v.$light-box-shadow;

          svg {
            margin-right: 0.4rem;
            margin-bottom: 0.1rem;
          }
        }
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;

    .square-button:first-child {
      margin-right: 1rem;
    }
  }

  .ql-indent-1 {
    text-indent: 1rem;
  }

  .ql-indent-2 {
    text-indent: 2rem;
  }

  .ql-indent-3 {
    text-indent: 3rem;
  }

  .ql-indent-4 {
    text-indent: 4rem;
  }

  .ql-indent-5 {
    text-indent: 5rem;
  }

  .ql-indent-6 {
    text-indent: 6rem;
  }

  .ql-indent-7 {
    text-indent: 7rem;
  }

  .ql-indent-8 {
    text-indent: 8rem;
  }

  .ql-font-serif {
    font-family: serif;
  }

  .ql-font-monospace {
    font-family: monospace;
  }

  .ql-size-small {
    font-size: 1rem;
  }

  .ql-size-large {
    font-size: 1.95rem;
  }

  .ql-size-huge {
    font-size: 3.25rem;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-justify {
    text-align: justify;
  }
}
