@use '../../../style/functions' as f;
@use '../../../style/variables' as v;

.avatar-container {
  display: flex;
  min-width: 8rem;

  figcaption {
    max-width: 12rem;
    word-break: break-all;
  }

  &.col {
    flex-direction: column;
    align-items: center;

    figcaption {
      margin-top: 1rem;
    }
  }

  &.row {
    flex-direction: row;
    align-items: center;

    figcaption {
      margin-left: 1rem;
      display: flex;
    }
  }
}

.avatar-image-container {
  border-radius: 40%;
  box-shadow: v.$box-shadow;
  overflow: hidden;

  &.small {
    min-width: f.avatar-size(small);
    width: f.avatar-size(small);
    height: f.avatar-size(small);
  }

  &.medium {
    min-width: f.avatar-size(medium);
    width: f.avatar-size(medium);
    height: f.avatar-size(medium);
  }

  &.large {
    min-width: f.avatar-size(large);
    width: f.avatar-size(large);
    height: f.avatar-size(large);
  }

  .avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-with-badge-container {
  display: flex;
  justify-content: space-between;
}
