.make-room-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .headline2 {
    margin: 4rem 0;
  }

  .inputs {
    & .input-container {
      margin-bottom: 1rem;
    }

    margin-bottom: 1rem;
  }

  .tag-list-section {
    width: 100%;
    min-height: 2rem;
    margin-bottom: 5rem;

    .linear-layout {
      justify-content: flex-start;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    & > button {
      margin: 1rem;
    }
  }
}
