@use '../../../style/mixins' as m;
@use '../../../style/variables' as v;
@use '../../../style/functions' as f;

.room-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;

  & > button {
    margin-left: 2rem;
  }

  .babble-logo {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }

  .room-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0 4rem 0;

    .headline2 {
      flex-basis: 50%;
    }

    .side {
      flex-basis: 50%;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      & > *:not(:last-child) {
        margin-right: 2rem;
      }

      .nickname-section-container {
        display: flex;
        flex-basis: 65%;
        justify-content: flex-end;

        .body2 {
          text-align: right;
        }

        .caption1 {
          flex-basis: 30%;
          min-width: max-content;
        }
      }
    }
  }

  .search-container {
    @include m.search-container;

    &.stuck {
      .search-section {
        @include m.stuck-search-section;
      }
    }

    .search-section {
      @include m.search-section;
      .search-refresh {
        display: flex;
        justify-content: space-between;
      }

      .input-container {
        min-width: 40rem;
        max-width: 40rem;
        margin-right: 1.5rem;
      }

      .tag-list-container {
        width: 100%;
      }

      .square-button {
        height: 4.8rem;
        padding: 1.2rem;
        margin-right: 1.2rem;
        box-shadow: v.$light-box-shadow;
      }
    }
  }

  .room-list-section {
    overflow-y: auto;
    overflow: visible;

    .room-wrapper:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
}

@include m.media(tablet) {
  .room-list-container {
    .room-list-header {
      display: block;
      margin: 1rem 0 2rem 0;

      .side {
        width: 100%;
        display: block;
        float: right;
        margin: 2rem 0 0 0;

        & > *:not(:last-child) {
          float: right;
          margin-right: 0;
          width: 100%;
        }

        button {
          float: right;
          margin-top: 1.5rem;
        }
      }

      .nickname-section-container {
        .notice-bubble,
        .caption1 {
          display: none;
        }

        .edit {
          margin: auto 0.5rem;
        }
      }
    }

    .search-container {
      padding: 0;

      .search-section {
        display: block;
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 0;
        padding: 1rem 0 0 0;

        .input-container {
          min-width: 80%;
        }

        .square-button {
          margin-right: 0;
        }

        .tag-list-container {
          margin: 1.5rem;
        }
      }
    }
  }
}

@include m.media(mobile-down, mobile) {
  .room-list-container {
    .room-list-header {
      display: block;
      margin: 1rem 0;

      .side {
        width: 100%;
        display: block;
        float: right;
        margin: 2rem 0 0 0;

        & > *:not(:last-child) {
          float: right;
          margin-right: 0;
        }

        button {
          float: right;
          margin-top: 1.5rem;
        }
      }

      .nickname-section-container {
        .notice-bubble,
        .caption1 {
          display: none;
        }

        .edit {
          margin: auto 0.5rem;
        }
      }
    }

    .search-container {
      max-width: 100%;
      padding: 1rem 0;
      position: sticky;
      top: -1px;

      .search-section {
        display: block;
        min-width: 100%;
        margin-bottom: 0;
        padding: 1rem 0;

        .input-container {
          min-width: 80%;
          margin-right: 0.4rem;

          .input-inner {
            font-size: 1.8rem;
          }
        }

        .square-button {
          width: fit-content;
          min-width: unset;
          margin-right: 0;
        }

        .tag-list-container {
          min-height: 0;
          margin: 0;

          .linear-layout {
            gap: 0;

            .tag-container {
              margin-top: 1rem;
            }
          }
        }
      }
    }

    .room-list-section {
      .room-container {
        .information {
          align-items: flex-start;

          .about {
            display: block;

            .room-number {
              margin-left: 0.2rem;
            }

            & > * {
              margin-top: 0.5rem;
            }

            .avatar {
              margin-top: 1rem;

              .body2 {
                width: 100%;
              }
            }

            .tag-list-container {
              margin: 1.2rem 0;

              .tag-container {
                padding: 0.2rem 0.7rem;

                .caption1 {
                  font-size: f.font-size(small);
                }
              }
            }
          }

          .headcount-container {
            margin-top: 0.5rem;
            border: 1px solid #d2d2d2;
            padding: 1px 11px;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
