@use '../../../style/mixins' as m;

.room-list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 5rem;

  & > button {
    margin-left: 2rem;
  }

  .babble-logo {
    position: absolute;
    top: 5rem;
    left: 5rem;
  }

  .room-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5rem 0 4rem 0;

    .headline2 {
      flex-basis: 50%;
    }

    .side {
      flex-basis: 50%;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      & > *:not(:last-child) {
        margin-right: 2rem;
      }

      .nickname-section-container {
        display: flex;
        flex-basis: 65%;
        justify-content: flex-end;

        .body2 {
          text-align: right;
        }

        .caption1 {
          flex-basis: 30%;
          min-width: max-content;
        }
      }
    }
  }

  .search-container {
    max-width: 100%;
    padding: 1rem 0;
    position: sticky;
    top: -1px;
    background: transparent;
    z-index: 5;

    &.stuck {
      .search-section {
        border-radius: 1rem;
        box-shadow: 0 0 0.6rem 0.2rem #929090ab;
        padding: 1rem;
      }
    }

    .search-section {
      max-width: 100%;
      min-width: 15rem;
      padding: 1rem 0;
      margin-bottom: 1rem;
      display: flex;
      background-color: m.grey-scale(white);

      .input-container {
        flex-basis: 40%;
        margin-right: 1.5rem;
      }
    }
  }

  .room-list-section {
    overflow-y: auto;
    overflow: visible;

    .room-wrapper:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
}
