.chatbox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding: 0.8rem;
  position: relative;

  .chattings {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .chatting-contents {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    width: 100%;

    & > :first-child {
      margin-top: auto;
    }

    .mine-container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1.5rem;

      &:last-child {
        padding-bottom: 1rem;
      }
    }
  }

  .chatting-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
