@use '../../../style/variables' as v;
@use '../../../style/mixins' as m;

.chatbox-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .chattings {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
  }

  .chatting-room-info {
    width: 100%;
    height: 10%;
    color: m.grey-scale(8);

    span {
      display: block;
      font-size: 1.2rem;
      font-weight: 400;
      text-align: center;
    }

    time {
      display: block;
      font-size: 1rem;
      font-weight: 400;
      text-align: center;
    }
  }

  .chatting-contents {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
  }

  .chatting-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15%;
  }
}
